# Created by .gitignore support plugin (hsz.mobi)
*.jar
*.war
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
target/
*.iml
*.ipr
*.iws
*.pyc
.settings/
.classpath
.project
.metadata/
.idea/
.mine/
logs/
dev.properties
dubbo.properties
dev-admin.properties
dependency-reduced-pom.xml
*.log
*.gz
*apidocs/
*.versionsBackup
